.hidden {
  display: none;
}
#greeting {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: cornsilk;
}

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1;
}

.background_image {
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
 height: 100%;
 z-index: -1;
}


.top {
  display: flex;
  justify-content: space-between;
  color: cornsilk;
}

#quete {
  font-size: 40px;
  color: cornsilk;
  display: flex;
  align-content: flex-end;
}