.hidden {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#login-form{
  margin-bottom: 30px;
}

.login-input {
  width: 200px;
  height: 30px;
  background-color: white;
  border-color: black;
  font-size: 1rem;
  font-weight: bold;
}

.login-input::placeholder {
  color: green;
  background-color: #c2fbd7;
  font-size:  15px;
  text-transform: uppercase;
  padding-left: 10px;  
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#greeting {
  font-size: 35px;
  color: cornsilk;
  margin-bottom: 30px;
}

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1;
}

.background_image {
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
 height: 100%;
 z-index: -1;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  font-size: 25;
  display: flex;
  justify-content: flex-end;
  color: cornsilk;
  margin-right: 50px;
}

#clock {
  margin-right: 15px;
}

#quote {
  font-size: 30px;
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-top: auto;
}

.quote {
  margin-left: 10px;
  margin-right: 15px;
}

.todo-input {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border-color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
}

::placeholder {
  color: cornsilk;
  font-size:  15px;
  text-transform: uppercase;
  padding-left: 10px;
  
}

ul {
  list-style-type: none;
}

#todo-list {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 500;
  color: cornsilk;
}

#todo-list li button {
  appearance: none;
  background-color: cornsilk;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 4px 8px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-left: 30px;
}

#todo-list li button:hover {
  background-color: gray;
  text-decoration: none;
  transition-duration: 0.1s;
}
